header img{
    height: 250px;
}
header{
    text-align: center;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    font-size: 16px;
}
nav a:hover{
    background-color: rgb(255, 0, 170) ;
}
